
  
    <div id="content" class="app-content">

        <div class="row">
    
          <div class="d-flex justify-content-end pt-5 ">
            <div class="row">
              <div class="d-flex justify-content-end">
                <div class="row">
                  <div class="col-md-2">
                    <div class="input-group" style="width: 200px;">
                      <input type="search" aria-label="First name" class="form-control" matInput
                        (keyup)="applyFilter($event)" #input placeholder="Search">
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
          </div>
    
          <div class="card mt-5">
            <div class="card-body">
              <div class="row mb-n3 table-responsive">
                <div class="small text-inverse text-opacity-50 mb-3"><b class="fw-bold">COMPLETED TASKS</b></div>
                <table class="table" mat-table [dataSource]="dataSource" matSort>
                  <thead>
                    <tr>
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> ID </th>
                        <td mat-cell *matCellDef="let row;let i=index;" scope="row"> {{i+1}} </td>
                      </ng-container>
                      <ng-container matColumnDef="tsk_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> TSK ID </th>
                        <td mat-cell *matCellDef="let row;let i=index;" scope="row"> TSK{{row.tsk_id}} </td>
                      </ng-container>
                      <ng-container matColumnDef="ast_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> AST ID </th>
                        <td mat-cell *matCellDef="let row;let i=index;" scope="row"> AST{{row.ast_id}} </td>
                      </ng-container>
                      <ng-container matColumnDef="prt_id_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText" class="tableText"> PRT ID /NAME</th>
                        <td mat-cell *matCellDef="let row" scope="row">PRT{{row.prt_id}} ({{row.project_name}}) </td>
                      </ng-container>
                      <ng-container matColumnDef="clt_id_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText" class="tableText"> CLT ID/NAME </th>
                        <td mat-cell *matCellDef="let row" scope="row"> CLT{{row.clt_id}} ({{row.client_name}}) </td>
                      </ng-container>
                      <ng-container matColumnDef="assign_to_dep">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> ASSIGN TO DEPT. </th>
                        <td mat-cell *matCellDef="let row" scope="row"> {{row.assign_to_department}} </td>
                      </ng-container>
                      <ng-container matColumnDef="team_manager">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> TASK ASSIGN TO RPT/NAME </th>
                        <td mat-cell *matCellDef="let row" scope="row"> RPT{{row.task_assign_to}} </td>
                      </ng-container>
                      <ng-container matColumnDef="task_description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> TASK DESCRIPTION </th>
                        <td mat-cell *matCellDef="let row" scope="row">
                          <textarea class="form-control" value="{{row.task_description}}" disabled style="width:200px;background-color:rgb(30, 41, 54) !important;"></textarea>
                        </td>
                      </ng-container>
    
                      <ng-container matColumnDef="task_expiry_date">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> TASK EXPIRY DATE </th>
                        <td mat-cell *matCellDef="let row" scope="row"> {{row.task_expiry_date}} </td>
                      </ng-container>
  
                      <ng-container matColumnDef="assign_by">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> ASSIGNED BY RPT/NAME </th>
                        <td mat-cell *matCellDef="let row" scope="row"> RPT{{row.assign_by}} </td>
                      </ng-container>
                      <ng-container matColumnDef="page_name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> PAGE NAME </th>
                        <td mat-cell *matCellDef="let row" scope="row"> {{row.page_name}} </td>
                      </ng-container>
                      <ng-container matColumnDef="remarks">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> REMARKS </th>
                        <td mat-cell *matCellDef="let row" scope="row">
                          <textarea class="form-control" value="{{row.remark_completed}}" disabled style="width:200px;background-color:rgb(30, 41, 54) !important;"></textarea>
                        </td>
                      </ng-container>
    
                      <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> STATUS </th>
                        <td mat-cell *matCellDef="let row" scope="row">
                          {{row.status}}                      </td>
                      </ng-container>
    
          
                      <!-- <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let row">
                          <i _ngcontent-olo-c1="" class="fa fa-edit ms-auto text-theme fs-16px my-n1"
                            style="color: aqua !important" (click)="editTask(row)"></i>
                          <i _ngcontent-olo-c1="" class="fa fa-trash ps-2 ms-auto fs-16px my-n1"
                            style="color: red !important" (click)="deleteAssignment(row._id)"></i></td>
    
                      </ng-container> -->
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns" style="color: white !important;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                  </thead>
                  <tbody>
    
                  </tbody>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    
              </div>
    
    
            </div>
            <div class="card-arrow">
              <div class="card-arrow-top-left"></div>
              <div class="card-arrow-top-right"></div>
              <div class="card-arrow-bottom-left"></div>
              <div class="card-arrow-bottom-right"></div>
            </div>
            <div class="hljs-container">
              <pre><code class="xml" data-url="assets/data/table-elements/code-1.json"></code></pre>
            </div>
          </div>
        </div>
    
      </div>
  
    