<div class="card" style="background-color: black; overflow-x: hidden;">
  <h1 class="d-flex justify-content-center pt-3"
    style="text-shadow: 1px 1px whitesmoke;font-size: 30px;font-weight: 500;">Add Refund</h1>
  <div class="hljs-container pb-0">
    <pre><code class="xml" data-url="assets/data/form-elements/code-1.json"></code></pre>
  </div>
  <div class="card-body pb-2">
    <form [formGroup]="refundForm">
      <div class="row">
        <div id="SectionHide">
          <div class="row">
            <div class="col-xl-3">
              <div class="form-group mb-3">
                <label class="form-label" for="rpt_id"> ID</label>
                <input disabled="disabled" id="rpt_id" value="RPT{{allData._id}}"
                  class="btn btn-blue span3 disabledColor">
              </div>

            </div>

            <div class="col-xl-3">
              <div class="form-group mb-3">
                <label class="form-label" for="emp_type">EMP TYPE</label>
                <input disabled="disabled" id="emp_type" value="{{allData.employee_type}}"
                  class="btn btn-blue span3 disabledColor">
              </div>

            </div>

            <div class="col-xl-3">
              <div class="form-group mb-3">
                <label class="form-label" for="offer_letter">OFFER LETTER ID</label>
                <input disabled="disabled" id="offer_letter" value="{{allData.offer_letter_account}}"
                  class="btn btn-blue span3 disabledColor">
              </div>

            </div>
            <div class="col-xl-3">
              <div class="form-group mb-3">
                <label class="form-label" for="name">NAME</label>
                <input disabled="disabled" id="name" value="{{allData.employee_name}}"
                  class="btn btn-blue span3 disabledColor">
              </div>

            </div>
            <div class="col-xl-3">
              <div class="form-group mb-3">
                <label class="form-label" for="father_name">FATHER NAME</label>
                <input disabled="disabled" id="father_name" value="{{allData.father_name}}"
                  class="btn btn-blue span3 disabledColor">
              </div>

            </div>
            <div class="col-xl-3">
              <div class="form-group mb-3">
                <label class="form-label" for="aadhar_number">AADHAR NUMBER</label>
                <input disabled="disabled" id="aadhar_number" value="{{allData.aadhar_number}}"
                  class="btn btn-blue span3 disabledColor">
              </div>

            </div>
            <div class="col-xl-3">
              <div class="form-group mb-3">
                <label class="form-label" for="reporting_date">REPORTING DATE</label>
                <input disabled="disabled" id="reporting_date" value="{{allData.batch_starting_date}}"
                  class="btn btn-blue span3 disabledColor">
              </div>

            </div>
            <div class="col-xl-3">
              <div class="form-group mb-3">
                <label class="form-label" for="total_value">TOTAL VALUE</label>
                <input disabled="disabled" id="total_value" value="{{allData.total_value}}"
                  class="btn btn-blue span3 disabledColor">
              </div>
            </div>

            <div class="col-xl-3">
              <div class="form-group mb-3">
                <label class="form-label" for="pending_value">PENDING VALUE</label>
                <input disabled="disabled" id="pending_value" value="{{allData.pending_value}}"
                  class="btn btn-blue span3 disabledColor">
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-xl-4">
              <div class="form-group mb-3">
                <label class="form-label" for="refund_value">REFUND VALUE</label>
                <input type="number" class="form-control" formControlName="refund_value" name="refund_value"
                  placeholder="Refund Value">
              </div>

            </div>
            <div class="col-xl-4">
              <div class="form-group mb-3">
                <label class="form-label" for="state_reason">STATE REASON</label>
                <input type="text" class="form-control" formControlName="state_reason" name="state_reason"
                  placeholder="State Reason">
              </div>

            </div>
            <div class="col-xl-4">
              <label class="form-label" for="which_policy">UNDER WHICH POLICY</label>
              <select class="form-select form-select-lg mb-3" formControlName="which_policy" name="which_policy">
                <option disabled selected value="">~Select One~</option>
                <option value="Higher Studies In Aboard">Higher Studies In Aboard</option>
                <option value="Govt Job">Govt Job</option>
                <option value="Parental Death">Parental Death</option>
                <option value="Other">Other</option>
              </select>
            </div>


          </div>


        </div>
      </div>
      <div class="d-flex justify-content-center pb-2">
        <button type="button" class="btn btn-outline-theme btn-lg" (click)="addRefund()">Add Refund</button>
        <button type="button" class="btn btn-outline-theme btn-lg ms-3" mat-dialog-close="">Close</button>

      </div>
    </form>
  </div>
  <div class="card-arrow">
    <div class="card-arrow-top-left"></div>
    <div class="card-arrow-top-right"></div>
    <div class="card-arrow-bottom-left"></div>
    <div class="card-arrow-bottom-right"></div>
  </div>
  <div class="hljs-container mt-3">
    <pre><code class="xml" data-url="assets/data/form-elements/code-1.json"></code></pre>
  </div>
</div>
