

<div class="card" style="background-color: black;overflow-x: hidden;">
    <h1 class="d-flex justify-content-center pt-3"
      style="text-shadow: 1px 1px whitesmoke;font-size: 30px;font-weight: 500;">Team Member</h1>
    <div class="hljs-container pb-0">
      <pre><code class="xml" data-url="assets/data/form-elements/code-1.json"></code></pre>
    </div>
    <div class="card-body pb-2">
<div class="row">
    <div class="col-xl-4" id="hidden">
        <div class="form-group mb-3">
          <label class="form-label" for="rpt_id">RPT ID</label>
          <input disabled="disabled" id="rpt_id" value="RPT{{allData._id}}"
            class="btn btn-blue span3 disabledColor">
        </div>
      </div>
      <div class="col-xl-4" id="hidden">
        <div class="form-group mb-3">
          <label class="form-label" for="name">NAME</label>
          <input disabled="disabled" id="name" value="{{allData.employee_name}}"
            class="btn btn-blue span3 disabledColor">
        </div>
      </div>
      <div class="col-xl-4" id="hidden">
        <div class="form-group mb-3">
          <label class="form-label" for="department">DEPARTMENT</label>
          <input disabled="disabled" id="department" value="{{allData.designation}}"
            class="btn btn-blue span3 disabledColor">
        </div>
      </div>

</div>
       
      <div class="col-xl-12">
        <div class="d-flex justify-content-end pt-5 ">
            <div class="row">
              <div class="d-flex justify-content-end">
                <div class="row">
                  <div class="col-md-2">
                    <div class="input-group" style="width: 200px;">
                      <input type="search" aria-label="First name" class="form-control" matInput
                        (keyup)="applyFilter($event)" #input placeholder="Search">
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
          </div>
    
          <div class="card mt-5">
            <div class="card-body">
              <div class="row mb-n3 table-responsive">
                <table class="table" mat-table [dataSource]="dataSource" matSort>
                  <thead>
                    <tr>
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> ID </th>
                        <td mat-cell *matCellDef="let row;let i=index;" scope="row"> {{i+1}} </td>
                      </ng-container>
                      <ng-container matColumnDef="rpt_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText" class="tableText"> RPT ID </th>
                        <td mat-cell *matCellDef="let row" scope="row">RPT{{row._id}} </td>
                      </ng-container>
                      <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText" class="tableText">TYPE </th>
                        <td mat-cell *matCellDef="let row" scope="row"> {{row.employee_type}} </td>
                      </ng-container>
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> NAME </th>
                        <td mat-cell *matCellDef="let row" scope="row"> {{row.employee_name}} </td>
                      </ng-container>
                      <ng-container matColumnDef="sex">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> SEX </th>
                        <td mat-cell *matCellDef="let row" scope="row"> {{row.gender}} </td>
                      </ng-container>
                      <ng-container matColumnDef="trn_start">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> TRN (START) DATE </th>
                        <td mat-cell *matCellDef="let row" scope="row"> <span *ngFor="let r of row.joined">{{r.training_start}}</span> </td>
                      </ng-container>
    
                      <ng-container matColumnDef="trn_end">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> TRN (END) DATE </th>
                        <td mat-cell *matCellDef="let row" scope="row"><span *ngFor="let r of row.joined">{{r.training_complete}}</span> </td>
                      </ng-container>
                      <ng-container matColumnDef="doj">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> D.O.J (ACTUAL) </th>
                        <td mat-cell *matCellDef="let row" scope="row"> {{row.batch_starting_date}} </td>
                      </ng-container>
                      <ng-container matColumnDef="job_status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> JOB STATUS </th>
                        <td mat-cell *matCellDef="let row" scope="row"> {{row.status}} </td>
                      </ng-container>
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTIONS </th>
                        <td mat-cell *matCellDef="let row">
                          <button type="button" class="btn btn-outline-theme btn-lg ms-3" (click)="AddMember(row)">ADD</button>

                      </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns" style="color: white !important;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                  </thead>
                  <tbody>
    
                  </tbody>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    
              </div>
    
    
            </div>
          </div>
      </div>

      <div class="col-xl-12">
        <div class="d-flex justify-content-end pt-5 ">
            <div class="row">
              <div class="d-flex justify-content-end">
                <div class="row">
                  <div class="col-md-2">
                    <div class="input-group" style="width: 200px;">
                      <input type="search" aria-label="First name" class="form-control" matInput
                        (keyup)="applyFilter1($event)" #input placeholder="Search">
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
          </div>
    
          <div class="card mt-5">
            <div class="card-body">
              <div class="row mb-n3 table-responsive">
                <div class="small text-inverse text-opacity-50 mb-3"><b class="fw-bold">Team Members</b></div>
                <table class="table" mat-table [dataSource]="dataSource1" matSort>
                  <thead>
                    <tr>
                      <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> ID </th>
                        <td mat-cell *matCellDef="let row;let i=index;" scope="row"> {{i+1}} </td>
                      </ng-container>
                      <ng-container matColumnDef="rpt_id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText" class="tableText"> RPT ID </th>
                        <td mat-cell *matCellDef="let row" scope="row">RPT{{row._id}} </td>
                      </ng-container>
                      <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText" class="tableText">TYPE </th>
                        <td mat-cell *matCellDef="let row" scope="row"> {{row.employee_type}} </td>
                      </ng-container>
                      <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> NAME </th>
                        <td mat-cell *matCellDef="let row" scope="row"> {{row.employee_name}} </td>
                      </ng-container>
                      <ng-container matColumnDef="sex">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> SEX </th>
                        <td mat-cell *matCellDef="let row" scope="row"> {{row.gender}} </td>
                      </ng-container>
                      <ng-container matColumnDef="trn_start">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> TRN (START) DATE </th>
                        <td mat-cell *matCellDef="let row" scope="row"> <span *ngFor="let r of row.joined">{{r.training_start}}</span> </td>
                      </ng-container>
    
                      <ng-container matColumnDef="trn_end">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> TRN (END) DATE </th>
                        <td mat-cell *matCellDef="let row" scope="row"><span *ngFor="let r of row.joined">{{r.training_complete}}</span> </td>
                      </ng-container>
                      <ng-container matColumnDef="doj">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> D.O.J (ACTUAL) </th>
                        <td mat-cell *matCellDef="let row" scope="row"> {{row.batch_starting_date}} </td>
                      </ng-container>
                      <ng-container matColumnDef="job_status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> JOB STATUS </th>
                        <td mat-cell *matCellDef="let row" scope="row"> {{row.status}} </td>
                      </ng-container>
                      <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTIONS </th>
                        <td mat-cell *matCellDef="let row">
                          <button type="button" class="btn btn-outline-theme btn-lg ms-3" (click)="removeMember(row)" >Remove</button>

                      </ng-container>
    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns" style="color: white !important;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                    </tr>
                  </thead>
                  <tbody>
    
                  </tbody>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    
              </div>
    
    
            </div>
          </div>
        <div class="d-flex justify-content-center pb-2 mt-4">  
          <button type="submit" class="btn btn-outline-theme btn-lg ms-3" (click)="addTeam()">Add Team</button>

          <button type="button" class="btn btn-outline-theme btn-lg ms-3" mat-dialog-close="" >Close</button>
  
        </div>
      </div>
    </div>
    <div class="card-arrow">
      <div class="card-arrow-top-left"></div>
      <div class="card-arrow-top-right"></div>
      <div class="card-arrow-bottom-left"></div>
      <div class="card-arrow-bottom-right"></div>
    </div>
    <div class="hljs-container mt-3">
      <pre><code class="xml" data-url="assets/data/form-elements/code-1.json"></code></pre>
    </div>
  </div>
  