
  
  <div id="content" class="app-content">
      <div class="row pt-5">   
      <div class="card">
          <div class="card-body">
          <ul class="nav nav-tabs">
            <li class="nav-item me-1"><a href="#jobStatus" (click)="showJobStatus()" class="nav-link active" data-bs-toggle="tab">Job Status</a></li>
            <li class="nav-item me-1"><a href="#awaited"(click)="showAwaited()" class="nav-link" data-bs-toggle="tab">Awaited</a></li>
            <li class="nav-item me-1"><a href="#inPool" class="nav-link active" data-bs-toggle="tab" (click)="showPool()">In Pool</a></li>
            <li class="nav-item me-1"><a href="#inTraining" (click)="showIntraining()" class="nav-link" data-bs-toggle="tab">In Training</a></li>
            <li class="nav-item me-1"><a href="#trainingCompleted" (click)="showTrainingCompleted()" class="nav-link" data-bs-toggle="tab">Training Completed</a></li>
            <li class="nav-item me-1"><a href="#joinedStatus" (click)="showJoined()" class="nav-link" data-bs-toggle="tab">Joined</a></li>
            <li class="nav-item me-1"><a href="#leftStatus" (click)="showLeft()" class="nav-link" data-bs-toggle="tab">Left</a></li>
            <li class="nav-item me-1"><a href="#relieving" (click)="showRelieving()" class="nav-link" data-bs-toggle="tab">Relieving</a></li>
          </ul>
          <div class="tab-content pt-3">
            <div class="tab-pane fade show active" id="jobStatus" hidden>
              <div class="col-md-2">
                <div class="input-group" style="width: 200px;padding-top: 10px;">
                  <input type="search" aria-label="First name" class="form-control" matInput
                    (keyup)="applyFilter($event)" #input placeholder="Search">
                </div>
              </div>
      <div class="card mt-5">
        <div class="card-body">
          <div class="row mb-n3 table-responsive">
            <div class="small text-inverse text-opacity-50 mb-3"><b class="fw-bold">JOB STATUS</b></div>
            <table class="table" mat-table [dataSource]="dataSource" matSort>
              <thead>
                <tr>
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> ID </th>
                    <td mat-cell *matCellDef="let row;let i=index;" scope="row"> {{i+1}} </td>
                  </ng-container>
                  <ng-container matColumnDef="rpt_id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> RPT ID </th>
                    <td mat-cell *matCellDef="let row" scope="row">RPT{{row._id}} </td>
                  </ng-container>
                  <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> TYPE </th>
                    <td mat-cell *matCellDef="let row" scope="row"> {{row.employee_type}} </td>
                  </ng-container>
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> NAME </th>
                    <td mat-cell *matCellDef="let row" scope="row"> {{row.employee_name}} </td>
                  </ng-container>
                  <ng-container matColumnDef="sex">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> SEX </th>
                    <td mat-cell *matCellDef="let row" scope="row"> {{row.gender}} </td>
                  </ng-container>
                  <ng-container matColumnDef="reporting_date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> REPORTING DATE
                    </th>
                    <td mat-cell *matCellDef="let row" scope="row"> {{row.offer_letter_date}} </td>
                  </ng-container>
                  <ng-container matColumnDef="reported_at">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> REPORTED AT
                    </th>
                    <td mat-cell *matCellDef="let row" scope="row"> {{row.reported_at}} </td>
                  </ng-container>
  
                  <ng-container matColumnDef="doj">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> D.O.J </th>
                    <td mat-cell *matCellDef="let row" scope="row"> {{row.batch_starting_date}} </td>
                  </ng-container>
                  <ng-container matColumnDef="pending_value">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> ANY DUES
                    </th>
                    <td mat-cell *matCellDef="let row" scope="row"> {{row.pending_value}} </td>
                  </ng-container>
  
                  <ng-container matColumnDef="jobStatus">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> JOB STATUS
                      </th>
                      <td mat-cell *matCellDef="let row" scope="row">                        
                          <select class="form-select form-select-lg mb-3" style="background-color: black !important;width: 140px;">
                              <option>{{row.status}}</option>
                            </select>
                      </td>
                    </ng-container>
  
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                    <td mat-cell *matCellDef="let row">
  
                      <i _ngcontent-olo-c1="" class="fa fa-edit ms-auto text-theme fs-16px my-n1" title="edit"
                        style="color: aqua !important" (click)="editReporting(row)"></i>
                      <i _ngcontent-olo-c1="" class="fa fa-trash ps-2 ms-auto fs-16px my-n1" title="delete"
                        style="color: red !important" (click)="deleteReporting(row._id)"></i></td>
  
                  </ng-container>
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns" style="color: white !important;"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                </tr>
              </thead>
              <tbody>
  
              </tbody>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  
          </div>
  
        </div>
        <div class="card-arrow">
          <div class="card-arrow-top-left"></div>
          <div class="card-arrow-top-right"></div>
          <div class="card-arrow-bottom-left"></div>
          <div class="card-arrow-bottom-right"></div>
        </div>
        <div class="hljs-container">
          <pre><code class="xml" data-url="assets/data/table-elements/code-1.json"></code></pre>
        </div>
     
  
               
            </div>
          </div>
          
          <div class="tab-pane fade show active" id="inPool" hidden>
           <app-in-pool></app-in-pool>
        </div>
          
          <div class="tab-pane fade" id="awaited" hidden>
            <app-awaited-status></app-awaited-status>
                          </div>

                          <div class="tab-pane fade" id="joinedStatus" hidden>
                            <app-joined-status></app-joined-status>
                        </div>
                        
                        <div class="tab-pane fade" id="leftStatus" hidden>
                         <app-left-status></app-left-status>
                      </div>
          
          <div class="tab-pane fade" id="inTraining" hidden>
             <app-intraining></app-intraining>
          </div>
          
          <div class="tab-pane fade" id="trainingCompleted" hidden>
             <app-trainingcompleted></app-trainingcompleted>
          </div>
          <div class="tab-pane fade" id="relieving" hidden>
            <app-relieving></app-relieving>
         </div>
          
          </div>
          
          </div>
          <div class="card-arrow">
          <div class="card-arrow-top-left"></div>
          <div class="card-arrow-top-right"></div>
          <div class="card-arrow-bottom-left"></div>
          <div class="card-arrow-bottom-right"></div>
          </div>
          <div class="hljs-container">
          <pre><code class="xml" data-url="assets/data/ui-tabs-accordions/code-1.json"></code></pre>
          </div>
          </div>




  




    
 </div>  
  
  </div>
  
 
