
    
    <div id="content" class="app-content">
        <div class="row pt-5">   
        <div class="card">
            <div class="card-body">
            <ul class="nav nav-tabs">
              <li class="nav-item me-1"><a href="#allPerformance" (click)="allPerformance()" class="nav-link active" data-bs-toggle="tab">All-Performance</a></li>
              <li class="nav-item me-1"><a href="#wellPerformance"(click)="wellPerformance()" class="nav-link" data-bs-toggle="tab">Well Performing</a></li>
              <li class="nav-item me-1"><a href="#undePip" class="nav-link" data-bs-toggle="tab" (click)="undePip()">Unde-PIP</a></li>
              <li class="nav-item me-1"><a href="#notPerforming" (click)="notPerforming()" class="nav-link" data-bs-toggle="tab">Not-Performing</a></li>
            </ul>
            <div class="tab-content pt-3">
              <div class="tab-pane fade show active" id="allPerformance">
                <div class="col-md-2">
                  <div class="input-group" style="width: 200px;padding-top: 10px;">
                    <input type="search" aria-label="First name" class="form-control" matInput
                      (keyup)="applyFilter($event)" #input placeholder="Search">
                  </div>
                </div>
        <div class="card mt-5">
          <div class="card-body">
            <div class="row mb-n3 table-responsive">
              <div class="small text-inverse text-opacity-50 mb-3"><b class="fw-bold">JOB STATUS</b></div>
              <table class="table" mat-table [dataSource]="dataSource" matSort>
                <thead>
                  <tr>
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> ID </th>
                      <td mat-cell *matCellDef="let row;let i=index;" scope="row"> {{i+1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="rpt_id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> RPT ID </th>
                      <td mat-cell *matCellDef="let row" scope="row">RPT{{row._id}} </td>
                    </ng-container>
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> NAME </th>
                      <td mat-cell *matCellDef="let row" scope="row"> {{row.employee_name}} </td>
                    </ng-container>
                    <ng-container matColumnDef="dept">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> S. DEPT
                      </th>
                      <td mat-cell *matCellDef="let row" scope="row">{{row.designation}} </td>
                    </ng-container>
                    <ng-container matColumnDef="a">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> (A)
                      </th>
                      <td mat-cell *matCellDef="let row" scope="row"> {{row.a}} </td>
                    </ng-container>
                    <ng-container matColumnDef="c">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"> (C) </th>
                      <td mat-cell *matCellDef="let row" scope="row"> {{row.c}} </td>
                    </ng-container>
                    <ng-container matColumnDef="f">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> (F)
                      </th>
                      <td mat-cell *matCellDef="let row" scope="row"> {{row.f}} </td>
                    </ng-container>
    
                    <ng-container matColumnDef="p">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> (P)
                        </th>
                        <td mat-cell *matCellDef="let row" scope="row"> {{row.p}} </td>

                      </ng-container>
    
                      <ng-container matColumnDef="over_all">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="tableText"> OVER ALL
                        </th>
                        <td mat-cell *matCellDef="let row" scope="row"> {{row.Per}} </td>

                      </ng-container>
    
                  <tr mat-header-row *matHeaderRowDef="displayedColumns" style="color: white !important;"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                  </tr>
                </thead>
                <tbody>
    
                </tbody>
              </table>
              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    
            </div>
    
          </div>
          <div class="card-arrow">
            <div class="card-arrow-top-left"></div>
            <div class="card-arrow-top-right"></div>
            <div class="card-arrow-bottom-left"></div>
            <div class="card-arrow-bottom-right"></div>
          </div>
          <div class="hljs-container">
            <pre><code class="xml" data-url="assets/data/table-elements/code-1.json"></code></pre>
          </div>
       
    
                 
              </div>
            </div>
            
            <div class="tab-pane fade show active" id="wellPerformance" hidden>
             <app-in-pool></app-in-pool>
          </div>
            
            <div class="tab-pane fade" id="undePip" hidden>
              <app-awaited-status></app-awaited-status>
                            </div>
  
            
            <div class="tab-pane fade" id="notPerforming" hidden>
               <app-intraining></app-intraining>
            </div>
            
            
            </div>
            
            </div>
            <div class="card-arrow">
            <div class="card-arrow-top-left"></div>
            <div class="card-arrow-top-right"></div>
            <div class="card-arrow-bottom-left"></div>
            <div class="card-arrow-bottom-right"></div>
            </div>
            <div class="hljs-container">
            <pre><code class="xml" data-url="assets/data/ui-tabs-accordions/code-1.json"></code></pre>
            </div>
            </div>
  
  
  
  
    
  
  
  
  
      
   </div>  
    
    </div>
   