
<div class="col-md-2">
    <div class="input-group pt-4" style="width: 200px;display: flex;justify-content: end;">
        <input type="search" aria-label="First name" class="form-control" matInput (keyup)="applyFilter($event)" #input placeholder="Search">
    </div>
</div>
<div class="card mt-5">
    <div class="card-body">
        <button type="button" class="btn btn-outline-theme me-2" style="margin-left: 85%;" (click)="openDialog()">Add Designation</button>
    <div class="row mb-n3">
    <div class="small text-inverse text-opacity-50 mb-3"><b class="fw-bold">DESIGNATIONS</b></div>
    <table class="table" mat-table [dataSource]="dataSource" matSort>
    <thead>
    <tr>
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col" class="whiteColor"> ID </th>
            <td mat-cell *matCellDef="let row;let i=index" scope="row"class="whiteColor"> {{i+1}}</td>
          </ng-container>
          <ng-container matColumnDef="head_department">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"class="whiteColor">HEAD DEPARTMENT </th>
            <td mat-cell *matCellDef="let row" scope="row"class="whiteColor"> {{row.head_department}} </td>
          </ng-container>
          
          <ng-container matColumnDef="designation">
            <th mat-header-cell *matHeaderCellDef mat-sort-header scope="col"class="whiteColor">DESIGNATION</th>
            <td mat-cell *matCellDef="let row" scope="row"class="whiteColor"> {{row.designation}} </td>
          </ng-container>
  
        
  
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="whiteColor"> Action </th>
        <td mat-cell *matCellDef="let row" > 
            <i _ngcontent-olo-c1="" class="fa fa-edit ms-auto text-theme fs-16px my-n1"  style="color: aqua !important"  (click)="editDesignation(row)"></i>
            <i _ngcontent-olo-c1="" class="fa fa-trash ps-2 ms-auto fs-16px my-n1" style="color: red !important" (click)="deleteDesignation(row._id)"></i></td>                     
      </ng-container>

<tr mat-header-row *matHeaderRowDef="displayedColumns" style="color: white !important;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4" class="whiteColor">No data matching the filter "{{input.value}}"</td>
      </tr>
    </thead>
    <tbody>
 
    </tbody>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" class="whiteColor"></mat-paginator>

    </div>
    

    </div>
    <div class="card-arrow">
    <div class="card-arrow-top-left"></div>
    <div class="card-arrow-top-right"></div>
    <div class="card-arrow-bottom-left"></div>
    <div class="card-arrow-bottom-right"></div>
    </div>
    <div class="hljs-container">
    <pre><code class="xml" data-url="assets/data/table-elements/code-1.json"></code></pre>
    </div>
    </div>

