<div class="card" style="background-color: black;">
  <h1 class="d-flex justify-content-center pt-3"
    style="text-shadow: 1px 1px whitesmoke;font-size: 30px;font-weight: 500;">Add HR Activity</h1>
  <div class="hljs-container pb-0">
    <pre><code class="xml" data-url="assets/data/form-elements/code-1.json"></code></pre>
  </div>
  <div class="card-body pb-2">
    <form [formGroup]="hrActivityForm">
      <div class="row">
        <div class="col-xl-6">
          <label class="form-label" for="assign_to">Assign To</label>
          <select class="form-select form-select-lg mb-3" formControlName="assign_to" name="assign_to" (change)="getrptId()">
            <option *ngFor="let dep of allDepartment" value="{{dep.designation}}">{{dep.designation}}</option>
            <!-- <option value="Virtual Placement">Virtual Placement</option>
                    <option value="In Campus">In Campus</option>
                    <option value="Job Fair">Job Fair</option> -->

          </select>
        </div>
        <div class="col-xl-6">
          <div class="form-group mb-3">
            <label class="form-label" for="invite_to">Invite To</label>
            <input type="text" class="form-control" formControlName="invite_to" name="invite_to"
        >
          </div>

        </div>
        <div class="col-xl-6">
          <div class="form-group mb-3">
            <label class="form-label" for="assign_date">Activity Date</label>
            <input type="date" class="form-control" formControlName="assign_date" name="assign_date">
          </div>

        </div>
        <div class="col-xl-6">
          <label class="form-label" for="shift">Shift</label>
          <select class="form-select form-select-lg mb-3" formControlName="shift" name="shift">
            <option *ngFor="let shift of allShift" value="{{shift.shift_name}}">{{shift.shift_name}}</option>
            <!-- <option value="Virtual Placement">Virtual Placement</option>
                    <option value="In Campus">In Campus</option>
                    <option value="Job Fair">Job Fair</option> -->

          </select>
        </div>
        <div class="col-xl-6">
          <div class="form-group mb-3">
            <label class="form-label" for="activity_start">Activity Start Time</label>
            <input type="time" class="form-control" formControlName="activity_start" name="activity_start">
          </div>

        </div>
        <div class="col-xl-6">
          <div class="form-group mb-3">
            <label class="form-label" for="activity_end">Activity End Time</label>
            <input type="time" class="form-control" formControlName="activity_end" name="activity_end">
          </div>

        </div>

        <div class="col-xl-6">
          <label class="form-label" for="activity_location">Activity Location</label>
          <select class="form-select form-select-lg mb-3" formControlName="activity_location" name="activity_location">
            <option *ngFor="let location of allLocation" value="{{location.location}}">{{location.location}}</option>
            <!-- <option value="Virtual Placement">Virtual Placement</option>
                                <option value="In Campus">In Campus</option>
                                <option value="Job Fair">Job Fair</option> -->

          </select>
        </div>
        <div class="col-xl-6">
          <div class="form-group mb-3">
            <label class="form-label" for="activity_name">Activity Name</label>
            <input type="text" class="form-control" formControlName="activity_name" name="activity_name"
              placeholder="Activiy Name">
          </div>

        </div>
        <div class="col-xl-6">
          <div class="form-group mb-3">
            <label class="form-label" for="activity_description">Activity Description</label>
            <input type="text" class="form-control" formControlName="activity_description" name="activity_description"
              placeholder="Activity Description">
          </div>

        </div>
        <div class="col-xl-6">
          <div class="form-group mb-3">
            <label class="form-label" for="hr_remarks">HR Remarks</label>
            <input type="text" class="form-control" formControlName="hr_remarks" name="hr_remarks"
              placeholder="HR Remarks">
          </div>

        </div>

      </div>
      <div class="d-flex justify-content-center pb-2">
        <button type="button" class="btn btn-outline-theme btn-lg" (click)="addHrActivity()">{{Submit}}</button>
        <button type="button" class="btn btn-outline-theme btn-lg ms-3" mat-dialog-close="">Close</button>

      </div>
    </form>
  </div>
  <div class="card-arrow">
    <div class="card-arrow-top-left"></div>
    <div class="card-arrow-top-right"></div>
    <div class="card-arrow-bottom-left"></div>
    <div class="card-arrow-bottom-right"></div>
  </div>
  <div class="hljs-container mt-3">
    <pre><code class="xml" data-url="assets/data/form-elements/code-1.json"></code></pre>
  </div>
</div>
