<div class="card">
    <div class="hljs-container pb-0">
        <pre><code class="xml" data-url="assets/data/form-elements/code-1.json"></code></pre>
      </div>

      <div class="card-body pb-2">

        <section class="mainSec">
            <!-- Heading -->
            <div class="text-center headingCls">
                <h6>LETTER OF APPOINTMENT</h6>
            </div>
        
        
            <div class="topSec text-center paddingCls brdrBoxPdngCls">
                <div class="dspFlxCls">
                    <div class="col-md-3 boxWthBrdr cmpnyLogo boXNoBrdrRght">
                        <img src="assets/images/cmpnyLogo.PNG" alt="">
                        <h6 class="cmpnyName"><span>K</span>NOCIAL <span>I</span>NDIA <span>L</span>IMITED</h6>
                    </div>
                    <div class="col-md-6 boxWthBrdr cmpnnyLoctn boXNoBrdrRght">
                        <h6 class="cmpnyName"><span>K</span>NOCIAL <span>I</span>NDIA <span>L</span>IMITED</h6>
                        <h6 class="cmpyDetails">REGISTERED UNDER MINISTRY OF CORPORATE AFFAIRS, <br>
                            (GOVT. OF INDIA) HO: 90B, UDYOG VIHAR, <br>
                            GURUGRAM 122008 HR INDIA
                        </h6>
                        <div class="smltxt">CIN: U74999HR2020PLC090598</div>
                    </div>
                    <div class="col-md-3 boxWthBrdr cmpnyBrCdeDiv">
                        <div class="idNumCls brdrBtm txtClrDrkBlue"><b>2022-23 / 335 / 192</b></div>
                        <div><img src="assets/images/cmpnyBarCode.PNG" alt=""></div>
                    </div>
                </div>
            </div>
        
        
            <div class="paddingCls stdntDetlSec brdrBoxPdngCls">
                <div class="dspFlxCls">
                    <div class="col-sm-3 boxWthBrdr">
                        <h6>TO:</h6>
                        <p class="txtClrDrkBlue">{{allReporting.name}}</p>
                    </div>
                    <div class="col-sm-3 boxWthBrdr">
                        <h6>SUBJECT:</h6>
                        <p>LETTER OF APPOINTMENT</p>
                    </div>
                    <div class="col-sm-3 boxWthBrdr">
                        <h6>DATE:</h6>
                        <p class="txtClrDrkBlue">30 MAR 2023</p>
                    </div>
                    <div class="col-sm-3 boxWthBrdr">
                        <h6>ISSUED BY:</h6>
                        <p class="">HRD / HO / GGN</p>
                    </div>
                </div>
            </div>
        
            <section class="paraMainSec">
                <div class="stdntStrt txtClrLgtBlue mb-4">
                    Mr. {{allReporting.name}} <br>
                    Village and Post Hardoi Gujar District Jalaun <br>
                    Uttar Pradesh 285001 (India) Tel 96160 24701
                </div>
                <div class="pb-3"><b>Welcome to Knocial!</b></div>
                <p>Today the corporate land is dynamic and the world ahead is full of possibilities! None of the amazing
                    things we do
                    at Knocial would be possible without an equally amazing culture, the environment where ideas can
                    flourish and
                    where you are empowered to move forward as far as your ideas will take you.
                </p>
                <p>At Knocial, we assure that your career will never stand still , we will inspire you to build what’s next
                    and we will
                    navigate further together</p>
                <p>Thank you for exploring career opportunities with Knocial India Limited. You have successfully completed
                    our initial
                    selection process and we are pleased to make you an appointment letter.
                </p>
        
                <h6 class="cntntHedng">APPOINTMENT</h6>
                <p>This offer is based on your profile and performance in the selection process. You have been selected for
                    the
                    position of <span class="txtClrLgtBlue paraLghtBluTxt">Graduate Software Engineer - Trainee</span> In Grade D. The
                    location of your <b>initial reporting</b> will
                    be <b>HO- Udyog Vihar Gurugram</b> , you are required to Join the Training on [<span
                        class="txtClrDrkBlue"><b>JUNE 13, 2023</b></span> at <span class="txtClrLgtBlue paraLghtBluTxt">Head Office
                        Gurugram</span> ], any
                    changes in the training date will be informed via email or call.</p>
                <p>Your CTC including all benefits on probation period will be <span class="txtClrLgtBlue paraLghtBluTxt">3,00,000/- per
                        annum</span>, as per the terms and conditions
                    set out herein. The CTC salary mentioned above is inclusive of the Variable Allowance becoming effective
                    upon
                    successful completion of the Initial Training Programme.
                </p>
        
                <h6 class="cntntHedng">TRAINING PERIOD</h6>
                <p>On your training period you will be getting a stipend of <span class="txtClrDrkBlue"><b>INR 10000/-
                            (Rupees Ten Thousand Only)</b></span> . You
                    will be required to undergo classroom and on job training in the first <span
                        class="txtClrDrkBlue"><b>120</b></span> working days of your
                    training/joining, during which you can also get appraised for your satisfactory performance which
                    Knocial will confirm you.
                </p>
                <p>This confirmation will be confirmed to you in writing. If your performance is found unsatisfactory during
                    the training period, the company may afford you additional support, opportunities to assist you and
                    enable you to improve your performance. If your performance is still found unsatisfactory Knocial may
                    take disciplinary action. The terms of training are governed by Knocial training policy and Knocial
                    reserves the right to modify and amend the training policy.
                </p>
                <p>If you remain unauthorized absent for consecutive period of 3 days during the training programme, you
                    shall be deemed to have abandoned your employment with Knocial and your name will be discontinued
                    automatically from the list of Knocial trainee/employee without any intimation/separate communication
                    to you and the decision will be irreplaceable.
                </p>
        
                <h6 class="cntntHedng">PROBATION PERIOD</h6>
                <p>You will be under probation period for <span class="txtClrDrkBlue"><b>8 (Eight)</b></span> Months from
                    your date of joining after training at
                    Knocial. During this period your all-inclusive target compensation (on a cost to company basis) will be
                    <span class="txtClrDrkBlue"><b>INR 3,00,000/- (Rupees Three Lakh Only)</b></span> <small class="extraSmal">T&C
                        applied</small>.
                </p>
        
                <h6 class="cntntHedng">CONFIRMATION PERIOD</h6>
                <p>Subsequent to your successful completion of training and probation period you all inclusive target
                    compensation (on a cost to company basis) will be <span class="txtClrDrkBlue"><b>INR 10,20,000/- (Rupees
                            Ten Lakh Twenty Thousand)</b></span>
                    <small class="extraSmal">T&C applied</small>. After completion of one year of confirmation period standard hike of 10-20%
                    will be applicable
                    as per industry norms.
                </p>
        
                <h6 class="cntntHedng">PERFORMANCE APPRAISAL</h6>
                <p>The performance appraisal policy provides certain responsibilities to the individual employees and their
                    respective managers to execute the performance review process. For the first year the appraisal will be
                    two times one is after training and another is after probation period. Once you are on confirmation
                    period increments will be as per standard industry norms and will be yearly.
                </p>
        
                <h6 class="cntntHedng">WORKPLACE</h6>
                <p>Your initial workplace will be Gurugram; in addition, you may need to travel within or outside the
                    country as required for business related assignments. However, your services are transferable, and
                    you may be assigned after reasonable notice, to any location in India or abroad, either existing or
                    to be set up in future, where the company conducts the business.
                </p>
        
                <h6 class="cntntHedng">ROLES AND RESPONSIBILITIES</h6>
                <p>Your Roles and responsibilities are outlined in the job description and offer email. Job responsibility &
                    department may vary from time to time basis performance and skill set of the candidates identified
                    during the training period.
                </p>
        
                <h6 class="cntntHedng">HYBRID MODEL</h6>
                <p>Knocial hybrid work model provides employees with greater flexibility and the option to work from
                    home or anywhere they can be productive. With hybrid work, the workplace is no longer inside the
                    four walls of the corporate office—it's an ecosystem of employees working from home, in coworking
                    spaces, and the office. In the hybrid model an employee is not eligible for paid leaves. At Knocial we
                    follow a Fixed <b>hybrid work model</b>.
                </p>
        
                <h6 class="cntntHedng">PAYCHECKS</h6>
                <p>In Knocial, salaries are generally paid on the 5th of every month, incase due to any reason
                    (technical/operational/bank issues) salary is not credited on the 5th employee will receive an
                    advance notice and will receive his/her salary on 15th of that month. If the salary is on hold due to
                    any reason, all hold salaries will be received on the 20th of that month. If any salary is being held on
                    performance grounds an intimation email for work completion will be marked in advance for the
                    same to the employee and will only be released if the work is complete.
                </p>
        
                <h6 class="cntntHedng">LAPTOP POLICY</h6>
                <p>As technology is changing fast, laptops are also required to be updated regularly. Candidate has to
                    bring his/her own Laptop, and it is mandatory at the time of joining with the latest i3 processor
                    minimum and genuine window.
                </p>
        
                <h6 class="cntntHedng">CELL PHONE POLICY</h6>
                <p>Use of mobile phones should be in the limit; excessive use of mobile phones causes distraction in
                    the workplace. As per the “cell phone policy at work “there should not be any disturbance caused to
                    colleagues. The use of company-issued mobile phones must not pose any threat to the security of
                    the company with any kind of inappropriate use. There should not be any misuse of the company's
                    internet connection. Employees are not allowed to play games etc. on the mobile phone during
                    office hours. Use of mobile camera or recorder is strictly prohibited from recording company related
                    confidential information. Mobile phones should not be carried or used in the area which is already
                    banned for the use of mobile phones etc. Upload of any illegal or obscene material with the use of
                    the company's internet. The company defines the activities wherein mobile phones can be used to
                    carry on the organizational business.
                </p>
        
                <h6 class="cntntHedng">LEAVES ENTITLEMENT</h6>
                <p>Leave Cannot be claimed as a matter of right. Any kind of leave can be granted or refused depending
                    upon the business demands. Leave of absence from work without proper approval will call for
                    disciplinary action. Leave means to go away for something for a short period of time. The calendar
                    year for leave is from January to December. Employees are eligible for 12 leaves in a calendar year.
                </p>
        
                <h6 class="cntntHedng">WORKING HOURS</h6>
                <p>Your working hours are governed by applicable law, you may be required to work in shifts and/or
                    over time depending upon business exigencies as permitted by law.
                </p>
        
                <h6 class="cntntHedng">MOBILITY</h6>
                <p>Knocial reserves the right to transfer you at any of its offices as per business requirement on the
                    terms and conditions applicable on transfer.
                </p>
        
                <h6 class="cntntHedng">ALTERNATIVE OCCUPATION/EMPLOYMENT</h6>
                <p>Either during the period of your employment/traineeship you are not permitted to undertake any
                    other employment ,business, assume public or private, honorary or remunerative without the prior
                    written permission of Knocial.
                </p>
        
                <h6 class="cntntHedng">CONFIDENTIALITY</h6>
                <p>Except in the proper course of your employment or thereafter, you will not divulge to any third
                    party any information regarding the affairs or business matters of the company or information
                    regarding its customers. All Information that comes to your knowledge by reason of your
                    employment with the company is deemed to be confidential.
                </p>
        
                <h6 class="cntntHedng">NOTICE PERIOD</h6>
                <p>A notice period is the length of time your employer is aware of your departure from their company
                    before you actually leave. especially in Knocial for freshers, have a notice period of 30 days;
                    unfortunately, this is non-negotiable and in case the company terminates you as your
                    behavior/performance are unsatisfactory and the action is disciplinary or employee leaves the
                    company before probation period no notice or payment in lieu therefore shall be applicable if your
                    services are being discontinued.
                </p>
        
                <h6 class="cntntHedng">BACKGROUND CHECK</h6>
                <p>Your Appointment is subject to satisfactory verification of your character, antecedents and
                    testimonials. This appointment is based on the details provided by you in the application to the
                    company and your curriculum vitae.
                </p>
        
                <h6 class="cntntHedng">DATA PRIVACY</h6>
                <p>Your personal data collected and developed during the recruitment process in accordance with
                    Knocial privacy data policy. Section 43A of the Information Technology Act (ITA) provides that
                    anybody - a corporation that possesses, deals or handles any “sensitive personal data” or
                    information should maintain reasonable security practices and procedures relating to such data.
                    Section 72A provides for the punishment for intentionally or knowingly disclosing personal
                    information relating to a person that was acquired for providing services under a lawful contract,
                    without the consent of the person concerned or in breach of a lawful contract.</p>
        
                <h6 class="cntntHedng">RULES AND REGULATION OF THE COMPANY</h6>
                <p>Knocial was registered as public limited in Nov 2020 and it comes under The Companies Act of 2013
                    is a piece of legislation that was passed in 2013 and has 29 Chapters, 470 Sections, and 7 Schedules.
                    Your appointment will be governed by the rules, policies, regulations, practice process and
                    procedure of Knocial as applicable to you and the changes therein from time to time. The changes in
                    policies will be automatically binding on you and no separate individual communication or notice
                    will be served in this effect however it will be updated on the internal portal timely.
                </p>
        
                <h6 class="cntntHedng">INTELLECTUAL PROPERTY</h6>
                <p>The rights to any invention, discovery or creation of any system or method related to the
                    company’s operation and arising out of any work done in the course of your employment will
                    automatically vest with the company. In This Connection, the company may obtain patent
                    rights in its name (or jointly with others) based on the fact of your invention, discovery or
                    other creative effort. You're Specifically made aware that you will not be made liable for any
                    compensation for such acts of yours, and that any reward that the company chooses to
                    bestow will not be deemed to confer any right towards that invention, discovery or
                    improvement in system or method, by you.
                </p>
        
                <h6 class="cntntHedng">AMENDMENT & TERMINATION</h6>
                <div class="pointPara leftPading">
                    <p>a. &nbsp; In case the Employer terminates the employment without just cause, in which case the
                        Employer shall provide the Employee with advance notice of termination or compensation in
                        lieu of notice equal to 1 month(s). Also the employer will not terminate the employment apart
                        from disciplinary action but not limited to after during the BOND Period in which no notice will
                        be served and the surety bond will also be forfeited as a cost of training expenditure.
                    </p>
                    <p>b. &nbsp; The Employee may terminate his employment at any time by providing the Employer with at
                        least 1 month(s) advance notice of his/her intention to resign.
                    </p>
                    <p>c. &nbsp; For purposes of this Agreement, "Cause" means the Employee's gross misconduct resulting
                        in material damage to the Company, willful insubordination or disobedience, theft, fraud or
                        dishonesty, willful damage or loss of Employer’s property, reputation online or offline, bribery
                        and habitual lateness or absence, or any other willful and material breach of this Agreement.
                    </p>
        
                    <h6 class="cntntHedng">ASSIGNMENT</h6>
                    <p>a. &nbsp; The Employee acknowledges that any work including without limitation inventions, designs,
                        ideas, concepts, drawings, working notes, artistic works that the Employee may individually or
                        jointly conceive or develop during the term of Employment are “works made for hire” and to the
                        fullest extent permitted by law, Employee shall assign, and does hereby assign, to the Employer
                        all of Employee's right, title and interest in and to all Intellectual Property improved, developed,
                        discovered or written in such works.</p>
                    <p>b. &nbsp; Employee shall, upon request of the Employer, execute, acknowledge, deliver and file any
                        and all documents necessary or useful to vest in the Employer all of Employee's right, title and
                        interest in and to all such matters.</p>
        
                    <h6 class="cntntHedng">RESTRICTIVE COVENANT</h6>
                    <p>Following the termination of employment of the Employee by the Employer, with or without
                        cause, or the voluntary withdrawal by the Employee from the Employer, the Employee shall, for
                        a period of three years following the said termination or voluntary withdrawal, refrain from
                        either directly or indirectly soliciting or attempting to solicit the business of any client or
                        customer of the Employer for his own benefit or that of any third person or organization, and
                        shall refrain from either directly or indirectly attempting to obtain the withdrawal from the
                        employment by the Employer of any other Employee of the Employer having regard to the same
                        geographic and temporal restrictions. The Employee shall not directly or indirectly divulge any
                        financial information relating to the Employer or any of its affiliates or clients to any person
                        whatsoever.
                    </p>
        
                    <h6 class="cntntHedng">SURETY BOND</h6>
                    <p>Refundable Training Charges for graduates/post graduate & UG is [70000/- INR inclusive all
                        taxes] which is paid by the employee before joining as surety bond will be refunded after 18
                        months of the services including training period, before 18 months mentioned are the only
                        cases in which the bond is refundable:</p>
                    <p class="listPntsPara"><i class="fas fa-star strClr"></i> Unexpected dismissal of Parents</p>
                    <p class="listPntsPara"><i class="fas fa-star strClr"></i> Govt Job</p>
                    <p ><i class="fas fa-star strClr"></i> Work Visa except Gulf countries (Visa of Nepal & Bhutan is not accepted
                        as a special case)
                    </p>
                </div>
                <p>If the employee leaves the organization before 18 months due to any reason or begging termination
                    due to disciplinary action, surety bond will also be forfeited as a cost of training expenditure.
                </p>
        
                <h6 class="cntntHedng mt-4">LEGAL & NOTICE</h6>
                <p>a. &nbsp; Any notice required to be given hereunder shall be deemed to have been properly given if
                    delivered personally or sent by prepaid registered mail as follows:</p>
                <div class="listDiv">
                    <ul>
                        <li>To the Employee: ___ as per record ____</li>
                        <li>To the Employer: legal@knocialindia.com</li>
                    </ul>
                </div>
                <p class="mb-4">b. &nbsp; And if sent by registered mail shall be deemed to have been received on the 4th business
                    day of uninterrupted postal service following the date of mailing. Either party may change its
                    address for notice at any time, by giving notice in writing to the other party pursuant to the
                    provisions of this agreement.
                </p>
        
                <h6 class="cntntHedng">APPLICABLE LAW AND JURISDICTION</h6>
                <p>This appointment shall be governed by and construed in accordance with the laws of India. Each
                    party hereby irrevocably submits to the exclusive jurisdiction of the courts of Gurugram, Haryana for
                    the adjudication of any dispute hereunder or in connection herewith.
                </p>
        
                <h6 class="cntntHedng mt-4 mb-3">OBLIGATIONS OF THE EMPLOYEE</h6>
                <div class="pointPara leftPading">
                    <p>a. &nbsp; Upon execution of agreement, the Employee shall not engage in any sort of theft, fraud,
                        misrepresentation or any other illegal act neither in the employment space nor outside the
                        premise of employment. If he/she shall do so, the Company shall not be liable for such an act
                        done at his own risk.
                    </p>
                    <p>b. &nbsp; The Employee further promises to never engage in any theft of the Employer’s property or
                        attempt to defraud the Employer in any manner.
                    </p>
                    <p>c. The Employee shall always ensure that his/her conduct is in accordance with all the rules,
                        regulations and policies of the Company as notified from time to time.
                    </p>
                    <p>d. &nbsp; The Employee shall not take up part-time or full-time employment or consultation with any
                        other party or be involved in any other business during the term of his/her employment with
                        the Company.</p>
                    <p>e. &nbsp; The Employee shall always ensure that his/her conduct is in accordance with all the rules,
                        regulations and policies of the Company as notified from time to time, including but not limited
                        to Leave Policy and Sexual Harassment Policy.
                    </p>
                    <p>f. &nbsp; The Employer hereby prohibits the Employee from engaging in any sexual harassment and
                        the Employee promises to refrain from any form of sexual harassment during the course of
                        employment in and around the premise of employment. If the Employee violates this term in
                        the agreement, he shall be fully responsible for his/her actions and the Employer shall not be
                        held responsible for any illegal acts committed at the discretion of the Employee.
                    </p>
                </div>
        
            </section>
        
        
            <section class="anxreSec mt-4">
                <div class="anxreDiv text-center">
                    <h6 class="cntntHedng">ANNEXURE</h6>
                    <div class="cntntSubHedng mt-4 pb-4">Annexure 1 forms an integral part of the Appointment Letter.</div>
                    <div class="mb-5 anxrePara">Designation : <span class="txtClrDrkBlue"><b>Graduate Software Engineer – Trainee</b></span></div>
                </div>
        
        
                <div class="anxreTable text-center" style="overflow-x:auto;">
                    <table>
                        <thead>
                            <tr>
                                <th>Component Category </th>
                                <th>Monthly</th>
                                <th>Annual</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="lghtBlk">Training Period Stipend <br>
                                    <small>(One twenty days) T&C applied</small>
                                </td>
                                <td class="txtClrDrkBlue">INR 10000/-</td>
                                <td class="txtClrDrkBlue">INR 1,20,000/-</td>
                            </tr>
                            <tr>
                                <td class="lghtBlk">Probation Period CTC <br>
                                    <small>(Eight months) T&C applied</small>
                                </td>
                                <td class="txtClrDrkBlue">INR 25000/-</td>
                                <td class="txtClrDrkBlue">INR 3,00,000/-</td>
                            </tr>
                            <tr>
                                <td class="lghtBlk">Confirmation Period CTC <br>
                                    <small>(After a year) T&C applied</small>
                                </td>
                                <td class="txtClrDrkBlue">INR 85000/-</td>
                                <td class="txtClrDrkBlue">INR 10,20,000/-</td>
                            </tr>
                            <tr>
                                <td class="lghtBlk">Yearly Increments on CTC </td>
                                <td class="lghtBlk">10-20% Hike basis industry norms</td>
                                <td class="lghtBlk">10-20% Hike basis industry norms</td>
                            </tr>
                        </tbody>
                    </table>
        
                </div>
        
                <h6 class="cntntHedng mt-5">ENTITLEMENTS</h6>
                <p>All entitlements listed above are subject to Company policies, Procedures and guidelines that may be in
                    force or are issues/ changed from time to time. All perquisites and benefits, including reimbursements,
                    are
                    subject to Income Tax as per the provisions of the Income Tax Act, 1961, which may be applicable,
                    including
                    tax on perquisites value.</p>
                <p>Performance Linked Incentive and Other Allowances is payable subject to the employee's performance as
                    per company policies and at the sole discretion of the company’s management.
                </p>
        
                <div class="cntntSubHedng txtInsideBrdr mb-5 text-center">
                    Salary Annexure Detailed
                </div>
        
        
                <div class="salryTable text-center" style="overflow-x:auto;">
                    <table>
                        <thead>
                            <tr>
                                <th class="slryTbleMainHed">EMPLOYEE </th>
                                <th class="slryTbleMainHed">EMPLOYER</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="padingTop">Earnings <br>
                                    <table class="slryInrTble marnTop">
                                        <thead>
                                            <tr>
                                                <td class="noBrdrLeft">Components *</td>
                                                <td>Per Annum</td>
                                                <td class="noBrdrRght">Per Month</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="noBrdrLeft">Basic</td>
                                                <td class="tbleTxtClr">216000/-</td>
                                                <td class="noBrdrRght tbleTxtClr">18000/-</td>
                                            </tr>
                                            <tr>
                                                <td class="noBrdrLeft">HRA</td>
                                                <td class="tbleTxtClr">24000/-</td>
                                                <td class="noBrdrRght tbleTxtClr">2000/-</td>
                                            </tr>
                                            <tr>
                                                <td class="noBrdrLeft">Other <br> &nbsp; Allowances</td>
                                                <td class="tbleTxtClr">24000/-</td>
                                                <td class="noBrdrRght tbleTxtClr">2000/-</td>
                                            </tr>
                                            <tr>
                                                <td class="noBrdrLeft">Medical <br> Allowances</td>
                                                <td class="tbleTxtClr">6000/-</td>
                                                <td class="noBrdrRght tbleTxtClr">500/-</td>
                                            </tr>
                                            <tr>
                                                <td class="noBrdrLeft">Arrears</td>
                                                <td class="tbleTxtClr">-</td>
                                                <td class="noBrdrRght tbleTxtClr">-</td>
                                            </tr>
                                            <tr>
                                                <td class="noBrdrLeft noBrdrBtm">Gross Total (A)</td>
                                                <td class="noBrdrBtm tbleTxtClr">270000/-</td>
                                                <td class="noBrdrRght noBrdrBtm tbleTxtClr">22500/-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="padingTop">Deductions <br>
                                    <table class="slryInrTble marnTop">
                                        <thead>
                                            <tr>
                                                <td class="noBrdrLeft">Components *</td>
                                                <td>Per Annum</td>
                                                <td class="noBrdrRght">Per Month</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="noBrdrLeft">Professional Tax</td>
                                                <td>-</td>
                                                <td class="noBrdrRght">-</td>
                                            </tr>
                                            <tr>
                                                <td class="noBrdrLeft">State Tax</td>
                                                <td>-</td>
                                                <td class="noBrdrRght">-</td>
                                            </tr>
                                            <tr>
                                                <td class="noBrdrLeft">Resource & <br> Development</td>
                                                <td class="tbleTxtClr">30000/-</td>
                                                <td class="noBrdrRght tbleTxtClr">2500/-</td>
                                            </tr>
                                            <tr>
                                                <td class="noBrdrLeft">ESIC <br> &nbsp;</td>
                                                <td>-</td>
                                                <td class="noBrdrRght">-</td>
                                            </tr>
                                            <tr>
                                                <td class="noBrdrLeft">EPFO</td>
                                                <td>-</td>
                                                <td class="noBrdrRght">-</td>
                                            </tr>
                                            <tr>
                                                <td class="noBrdrBtm noBrdrLeft">Other</td>
                                                <td class="noBrdrBtm">-</td>
                                                <td class="noBrdrRght noBrdrBtm">-</td>
                                            </tr>
        
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="padingTop">Deductions <br>
                                    <table class="slryInrTble marnTop">
                                        <tbody>
                                            <tr>
                                                <td class="noBrdrLeft">ESIC</td>
                                                <td> - </td>
                                                <td class="noBrdrRght"> - </td>
                                            </tr>
                                            <tr>
                                                <td class="noBrdrLeft">EPFO</td>
                                                <td> - </td>
                                                <td class="noBrdrRght"> - </td>
                                            </tr>
                                            <tr>
                                                <td class="noBrdrLeft">Admin & Welfare</td>
                                                <td class="tbleTxtClr">1200/-</td>
                                                <td class="noBrdrRght tbleTxtClr">100/-</td>
                                            </tr>
                                            <tr>
                                                <td class="noBrdrLeft noBrdrBtm">Total (C)</td>
                                                <td class="noBrdrBtm tbleTxtClr">1200/-</td>
                                                <td class="noBrdrRght noBrdrBtm tbleTxtClr">100/-</td>
                                            </tr>
        
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    <table class="slryInrTble">
                                        <tbody>
                                            <tr>
                                                <td class="noBrdrTop noBrdrLeft"> &nbsp; </td>
                                                <td class="noBrdrTop"> </td>
                                                <td class="noBrdrTop noBrdrRght"> </td>
                                            </tr>
                                            <tr>
                                                <td class="noBrdrLeft"> &nbsp; </td>
                                                <td> </td>
                                                <td class="noBrdrRght"> </td>
                                            </tr>
                                            <tr>
                                                <td class="noBrdrLeft"> &nbsp; </td>
                                                <td> </td>
                                                <td class="noBrdrRght"> </td>
                                            </tr>
                                            <tr>
                                                <td class="noBrdrLeft"> &nbsp;</td>
                                                <td> </td>
                                                <td class="noBrdrRght"> </td>
                                            </tr>
                                            <tr>
                                                <td class="noBrdrLeft noBrdrBtm">Total (B) </td>
                                                <td class="noBrdrBtm tbleTxtClr">30000/-</td>
                                                <td class="noBrdrRght noBrdrBtm tbleTxtClr">2500/</td>
                                            </tr>
        
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
        
                            <tr class="tbleBtmTble">
                                <td class="HightPaddingTop"> &nbsp; <br>
                                    <table class="slryInrTble">
                                        <tbody>
                                            <tr>
                                                <td class="noBrdrLeft">In Hand (A - C)</td>
                                                <td class="noBrdrRght tbleTxtClr">268800/- Per Annum </td>
                                            </tr>
                                            <tr>
                                                <td class="noBrdrLeft noBrdrBtm">CTC = (A + B) </td>
                                                <td class="noBrdrRght noBrdrBtm tbleTxtClr">300000/- Per Annum </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td class="HightPaddingTop"> &nbsp; <br>
                                    <table class="slryInrTble">
                                        <tbody>
                                            <tr>
                                                <td class="noBrdrLeft noBrdrRght noBrdrBtm tbleTxtClr">22400/- Per Month
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="noBrdrLeft noBrdrRght noBrdrBtm tbleTxtClr">25000/- Per Month</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
        
                </div>
        
                <div class="txtClrDrkBlue bluTxtPara text-center">CTC Indian Rupees Three Lakh Indian Rupees Only (Per Annum)</div>
        
                <div class="btmParaCls">
                    <p>Note: The deduction amount and taxes may vary time to time as per governed by government norms.</p>
                    <p>As an employee of Knocial, you are also eligible for our benefits program, which includes medical
                        insurance, mental health awareness, work life balance, vacation time, etc., and other benefits which
                        will
                        be described in more detail in the employee handbook, orientation program before training.
                    </p>
                    <p>We look forward to hearing from you. Should you have any query please do not hesitate to reach out to
                        us at <a href="#"><b>recruitment@knocialindia.com</b></a>.
                    </p>
                    <p>The terms of this offer are meant to be kept strictly confidential. Kindly Sign and Return as a
                        signed copy
                        of this letter in the acceptance of the terms and conditions set out herein. We welcome you aboard
                        and
                        wish you success in your career with Knocial India Limited. Looking forward to a mutually rewarding
                        association.
                    </p>
        
                    <div class="smalTxtDiv">I hereby declare that the above mentioned terms & conditions are described to me by the company and
                        I do acknowledge the
                        same (regarding location, profile n all) will be treated as my statement in consent.
                    </div>
                    <div class="cmpnyCnfdtDiv text-center">
                        COMPANY CONFIDENTIAL | THIS DOCUMENT IS A COMPUTER GENERATED * DIGITALLY SIGNED
                    </div>
                </div>
        
            </section>
            <div class="btmBoxes brdrBoxPdngCls">
                <div class="dspFlxCls text-center">
                    <div class="col-sm-4 boxWthBrdr">
                        <h6>ISSUED TO:</h6>
                        <small class="paraaSmal txtClrLgtBlue">{{allReporting.name}} S/O YOGENDRA SINGH </small>
                    </div>
                    <div class="col-sm-4 boxWthBrdr">
                        <h6>AADHAAR VERIFICATION</h6>
                        <div class="txtClrDrkBlue adhrNoDiv">{{allReporting.aadhar_number}}</div>
                    </div>
                    <div class="col-sm-4 boxWthBrdr underSidnDiv">
                        <h6>KNOCIAL INDIA LIMITED</h6>
                        <img src="assets/images/knocialUnderSigned.PNG" alt="">
                    </div>
                </div>
            </div>
        
            <div class="greenTxtDiv">
                <p><b>“Think GREEN, Save Earth”</b></p>
                <small class="greenTxtPara">Print only if Essential.</small>
                <p class="greenTxtPara pt-3">Save Trees</p>
                <p class="greenTxtPara">The message (including all attachments) contains confidential information intended for a
                        specific individual and purpose, and is protected by law. If you are not the intended recipient,
                        you should delete this message and are hereby notified that any disclosure, copying or
                        distribution of this message, or the taking of any action based on it, is strictly prohibited.
                        When addressed to our clients and opinions or advice contained in this email are subject to
                        the terms and conditions expressed in the governing client engagement letter.</p>
            </div>
        
        </section>

</div>

<div class="card-arrow">
    <div class="card-arrow-top-left"></div>
    <div class="card-arrow-top-right"></div>
    <div class="card-arrow-bottom-left"></div>
    <div class="card-arrow-bottom-right"></div>
  </div>
  <div class="hljs-container mt-3">
    <pre><code class="xml" data-url="assets/data/form-elements/code-1.json"></code></pre>
  </div>
</div>

